* {
    padding: 0px;
    margin: 0px;
    color: white;
}
ul{
    list-style:none
}
a {
    text-decoration: none;
}

#pageHome {
    background: url(/imgs/bg1.jpg);
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding: 0px 300px;
}

.menu{

    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0%);
    width: 100%;
    background: #212529;
}
.menu .logo{
    display: inline-block;
}
.menu ul{
    margin-left: 500px;
    display: inline-block;
}
.menu li{
    padding: 10px 20px;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}





.content {
    display: inline-block;
    color: white;
    padding: 300px 0px;
}

.content h3 {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
}

.content h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
}

.content .btn {
    background-color: #fed136;
    border-color: #fed136;
    font-size: 18px;
    padding: 20px 40px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 10px;
}